.signInHelper {
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #979797;
  font-size: 0.9rem;

  @media (max-width: 530px) {
    margin-top: 20px;
  }

  a {
    font-weight: 500;
    font-size: 0.95rem;
    margin-left: 5px;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 2rem;
  font-weight: 400;

  @media (max-width: 530px) {
    font-size: 1.8rem;
  }
}

.form {

  .textField {
    display: block;
    margin-bottom: 25px;
  }

  .submitButton {
    margin-top: 20px;
  }
}

.progress {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
}