.PasswordStep {
  background-color: #3B3B3B;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .title {
    position: absolute;
    width: 60%;
    top: 30px;

    span {
      display: block;
      margin-bottom: 15px;
    }

    .divider {
      width: 30px;
      height: 2px;
      margin: auto;
    }
  }

  .form {
    width: 60%;

    .textField {
      display: block;
      margin-bottom: 25px;

      input {
        background: #80808014;
      }
    }

    .nextButton {
      border-radius: 30px;
      // padding: 6px 25px;
      float: right;
    }

    .previousButton {
      border-radius: 30px;
      float: left;
    }
  }
}