@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

html {
  height: 100%;

  body {
    margin: 0;
    background: #1a1c1f;
    height: 100%;
    font-family: 'Work Sans', sans-serif;

    a {
      text-decoration: none;
      color: #e74c3cb8;
    }

    #root {
      height: 100%;
    }

    .flex-column {
      display: flex;
      flex-flow: column;
    }

    .MuiContainer-root {
      @media (max-width: 530px) {
        padding: 20px 0 0 0;
      }
    }

    .MuiButtonBase-root {
      border-radius: 30px;
      padding: 6px 40px;
      text-transform: none;

      &.MuiIconButton-root {
        padding: 12px;
        border-radius: 50%;
        
        &.MuiIconButton-edgeStart {
          margin-left: 0;
        }
      }

      &.MuiListItem-root {
        padding: 8px 30px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        width: auto;
        margin-right: 10px;

        &.Mui-selected {
          background-color: rgba($color: #E74C3C, $alpha: 0.1);
          color: #E74C3C;

          .MuiListItemIcon-root {
            color: #E74C3C;
          }
        }
      }

      &.loadingButton {
        .MuiCircularProgress-root {
          margin-left: 10px;
          color: #8e8e8e;
          ;
        }
      }
    }

    .MuiFormControl-root  {
      .MuiFormLabel-root, .MuiOutlinedInput-root {
        &.Mui-error {
          color: #f48536;

          .MuiOutlinedInput-notchedOutline {
            border-color: #f48536;
          }
        }
      }

      .MuiFormHelperText-root {
        &.Mui-error {
          color: #f48536;
        }
      }
    }

    .MuiPaper-root {
      background: #27292c;
      border-radius: 10px;
      &.MuiDrawer-paper {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &.MuiDrawer-paperAnchorDockedLeft {
          border-right: none;
          box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
        }
      }
    }
  }
}